header.navbar.navbar-default
  div.container.navbar-default
    div.navbar-header.navbar-default
      a#brand.navbar-brand(href='\#{{routeUrls.lobby}}') Are you board?
    ul.nav.navbar-nav
      li#navbar-lobby-btn
        a(href='\#{{routeUrls.lobby}}', data-trans='topbar.lobby')
      li#navbar-games-btn
        a(href='\#{{routeUrls.openGames}}', data-trans='topbar.openGames')
      li#navbar-my-games-btn
        a(href='\#{{routeUrls.myGames}}', data-trans='topbar.myGames')
    ul.nav.navbar-nav.navbar-right
      li#navbar-admin-btn(class='{{^user.isSuperuser}}hidden{{/user.isSuperuser}}')
        a(href='\#{{routeUrls.admin}}') Admin
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown') {{user.nick}}
          b.caret
        ul.dropdown-menu
          li
            a#signout(href='\#{{routeUrls.logout}}', data-trans='topbar.signOut')
